/MSQueueReceiver/bin
/NLPWebService/build
/Speech/CommonLib/obj
/Speech/CommonLib/bin
/Speech/DeviceWebService/bin
/Speech/DeviceWebService/obj
/Speech/SpeechCustomUi/bin/*
/Speech/SpeechCustomUi/obj/*
/OnlineRobot/WebContent/WEB-INF/classes/onlinerobot
/OnlineRobot/WebContent/WEB-INF/classes/weibo4j
