/MSQueueReceiver/bin
/NLPWebService/build
/Speech/CommonLib/obj
/Speech/CommonLib/bin
/Speech/DeviceWebService/bin
/Speech/DeviceWebService/obj
/Speech/SpeechCustomUi/bin/*
/Speech/SpeechCustomUi/obj/*
/OnlineRobot/WebContent/WEB-INF/classes/onlinerobot
/OnlineRobot/WebContent/WEB-INF/classes/weibo4j
/Speech/NLPCore/obj
/Speech/NLPCore/bin
/Speech/NLPTest/obj
/Speech/NLPTest/bin
/NLPWebService/*.log
/Speech/NL2ML/bin
/Speech/NL2ML/obj
